/* .page {
    display: none;
    width: 100%;
    min-height: 100%;
    position: fixed;
    padding: 1 rem 2 rem;
}

.active {
    display: block;
} */

/* #ifNewUserRegister {
    background-color: aquamarine;
}

#ifAcountLogIn {
    background-color: rgb(226, 198, 0.781);
}

#wallContent {
    background-color: rgb(13, 204, 252);
} */
